In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
!pip install stable_baselines3

Collecting stable_baselines3
  Downloading stable_baselines3-2.7.1-py3-none-any.whl.metadata (4.8 kB)
Requirement already satisfied: gymnasium<1.3.0,>=0.29.1 in /usr/local/lib/python3.12/dist-packages (from stable_baselines3) (1.2.3)
Requirement already satisfied: numpy<3.0,>=1.20 in /usr/local/lib/python3.12/dist-packages (from stable_baselines3) (2.0.2)
Requirement already satisfied: torch<3.0,>=2.3 in /usr/local/lib/python3.12/dist-packages (from stable_baselines3) (2.9.0+cu128)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.12/dist-packages (from stable_baselines3) (3.1.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from stable_baselines3) (2.2.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (from stable_baselines3) (3.10.0)
Requirement already satisfied: typing-extensions>=4.3.0 in /usr/local/lib/python3.12/dist-packages (from gymnasium<1.3.0,>=0.29.1->stable_baselines3) (4.15.0)
Requirement already satisfied: farama-notifications>=0.0.1 in /usr/local/lib/python3.12/dist-packages (from gymnasium<1.3.0,>=0.29.1->stable_baselines3) (0.0.4)
Requirement already satisfied: filelock in /usr/local/lib/python3.12/dist-packages (from torch<3.0,>=2.3->stable_baselines3) (3.20.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.12/dist-packages (from torch<3.0,>=2.3->stable_baselines3) (75.2.0)
Requirement already satisfied: sympy>=1.13.3 in /usr/local/lib/python3.12/dist-packages (from torch<3.0,>=2.3->stable_baselines3) (1.14.0)
Requirement already satisfied: networkx>=2.5.1 in /usr/local/lib/python3.12/dist-packages (from torch<3.0,>=2.3->stable_baselines3) (3.6.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.12/dist-packages (from torch<3.0,>=2.3->stable_baselines3) (3.1.6)
Requirement already satisfied: fsspec>=0.8.5 in /usr/local/lib/python3.12/dist-packages (from torch<3.0,>=2.3->stable_baselines3) (2025.3.0)
Requirement already satisfied: nvidia-cuda-nvrtc-cu12==12.8.93 in /usr/local/lib/python3.12/dist-packages (from torch<3.0,>=2.3->stable_baselines3) (12.8.93)
Requirement already satisfied: nvidia-cuda-runtime-cu12==12.8.90 in /usr/local/lib/python3.12/dist-packages (from torch<3.0,>=2.3->stable_baselines3) (12.8.90)
Requirement already satisfied: nvidia-cuda-cupti-cu12==12.8.90 in /usr/local/lib/python3.12/dist-packages (from torch<3.0,>=2.3->stable_baselines3) (12.8.90)
Requirement already satisfied: nvidia-cudnn-cu12==9.10.2.21 in /usr/local/lib/python3.12/dist-packages (from torch<3.0,>=2.3->stable_baselines3) (9.10.2.21)
Requirement already satisfied: nvidia-cublas-cu12==12.8.4.1 in /usr/local/lib/python3.12/dist-packages (from torch<3.0,>=2.3->stable_baselines3) (12.8.4.1)
Requirement already satisfied: nvidia-cufft-cu12==11.3.3.83 in /usr/local/lib/python3.12/dist-packages (from torch<3.0,>=2.3->stable_baselines3) (11.3.3.83)
Requirement already satisfied: nvidia-curand-cu12==10.3.9.90 in /usr/local/lib/python3.12/dist-packages (from torch<3.0,>=2.3->stable_baselines3) (10.3.9.90)
Requirement already satisfied: nvidia-cusolver-cu12==11.7.3.90 in /usr/local/lib/python3.12/dist-packages (from torch<3.0,>=2.3->stable_baselines3) (11.7.3.90)
Requirement already satisfied: nvidia-cusparse-cu12==12.5.8.93 in /usr/local/lib/python3.12/dist-packages (from torch<3.0,>=2.3->stable_baselines3) (12.5.8.93)
Requirement already satisfied: nvidia-cusparselt-cu12==0.7.1 in /usr/local/lib/python3.12/dist-packages (from torch<3.0,>=2.3->stable_baselines3) (0.7.1)
Requirement already satisfied: nvidia-nccl-cu12==2.27.5 in /usr/local/lib/python3.12/dist-packages (from torch<3.0,>=2.3->stable_baselines3) (2.27.5)
Requirement already satisfied: nvidia-nvshmem-cu12==3.3.20 in /usr/local/lib/python3.12/dist-packages (from torch<3.0,>=2.3->stable_baselines3) (3.3.20)
Requirement already satisfied: nvidia-nvtx-cu12==12.8.90 in /usr/local/lib/python3.12/dist-packages (from torch<3.0,>=2.3->stable_baselines3) (12.8.90)
Requirement already satisfied: nvidia-nvjitlink-cu12==12.8.93 in /usr/local/lib/python3.12/dist-packages (from torch<3.0,>=2.3->stable_baselines3) (12.8.93)
Requirement already satisfied: nvidia-cufile-cu12==1.13.1.3 in /usr/local/lib/python3.12/dist-packages (from torch<3.0,>=2.3->stable_baselines3) (1.13.1.3)
Requirement already satisfied: triton==3.5.0 in /usr/local/lib/python3.12/dist-packages (from torch<3.0,>=2.3->stable_baselines3) (3.5.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->stable_baselines3) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib->stable_baselines3) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib->stable_baselines3) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->stable_baselines3) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib->stable_baselines3) (26.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib->stable_baselines3) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib->stable_baselines3) (3.3.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.12/dist-packages (from matplotlib->stable_baselines3) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->stable_baselines3) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->stable_baselines3) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.7->matplotlib->stable_baselines3) (1.17.0)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /usr/local/lib/python3.12/dist-packages (from sympy>=1.13.3->torch<3.0,>=2.3->stable_baselines3) (1.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2->torch<3.0,>=2.3->stable_baselines3) (3.0.3)
Downloading stable_baselines3-2.7.1-py3-none-any.whl (188 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 188.0/188.0 kB 5.4 MB/s eta 0:00:00
Installing collected packages: stable_baselines3
Successfully installed stable_baselines3-2.7.1

In [7]:
import gymnasium as gym
from gymnasium import spaces
import numpy as np
import torch
import torch.nn as nn
from stable_baselines3 import PPO
from stable_baselines3.common.torch_layers import BaseFeaturesExtractor
from stable_baselines3.common.vec_env import DummyVecEnv

In [8]:
df = pd.read_csv('/content/drive/MyDrive/eurusd_hour.csv')

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [ ]:
df

,Date,Time,BO,BH,BL,BC,BCh,AO,AH,AL,AC,ACh
0,2005-05-02,00:00,1.28520,1.28520,1.28400,1.28440,-0.00080,1.28540,1.28540,1.28420,1.28460,-0.00080
1,2005-05-02,01:00,1.28440,1.28480,1.28390,1.28420,-0.00020,1.28460,1.28500,1.28410,1.28440,-0.00020
2,2005-05-02,02:00,1.28430,1.28540,1.28410,1.28510,0.00080,1.28450,1.28560,1.28430,1.28530,0.00080
3,2005-05-02,03:00,1.28510,1.28590,1.28500,1.28510,0.00000,1.28530,1.28610,1.28520,1.28530,0.00000
4,2005-05-02,04:00,1.28520,1.28590,1.28490,1.28550,0.00030,1.28540,1.28610,1.28510,1.28570,0.00030
...,...,...,...,...,...,...,...,...,...,...,...,...
93079,2020-04-29,18:00,1.08620,1.08851,1.08611,1.08713,0.00093,1.08660,1.08865,1.08640,1.08726,0.00066
93080,2020-04-29,19:00,1.08711,1.08823,1.08659,1.08748,0.00037,1.08725,1.08837,1.08675,1.08760,0.00035
93081,2020-04-29,20:00,1.08747,1.08788,1.08691,1.08708,-0.00039,1.08758,1.08810,1.08706,1.08808,0.00050
93082,2020-04-29,21:00,1.08708,1.08740,1.08699,1.08714,0.00006,1.08808,1.08814,1.08763,1.08766,-0.00042
93083,2020-04-29,22:00,1.08728,1.08760,1.08727,1.08743,0.00015,1.08756,1.08779,1.08749,1.08760,0.00004

In [9]:
df['datetime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'])
df = df.sort_values('datetime')
df = df.reset_index(drop=True)

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [10]:
df['MidOpen'] = (df['BO'] + df['AO']) / 2
df['MidHigh'] = (df['BH'] + df['AH']) / 2
df['MidLow'] = (df['BL'] + df['AL']) / 2
df['MidClose'] = (df['AC'] + df['BC']) / 2

df['Spread'] = df['AC'] - df['BC']
df['Spread_norm'] = df['Spread'] / df['MidClose']

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [11]:
df['r_1'] = np.log(df['MidClose'] / df['MidClose'].shift(1))
df['r_3'] = np.log(df['MidClose'] / df['MidClose'].shift(3))
df['r_6'] = np.log(df['MidClose'] / df['MidClose'].shift(6))
df['r_12'] = np.log(df['MidClose'] / df['MidClose'].shift(12))

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [12]:
df['mom_6'] = df['MidClose'] - df['MidClose'].shift(6)
df['mom_12'] = df['MidClose'] - df['MidClose'].shift(12)

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [13]:
df['EMA20'] = df['MidClose'].ewm(span=20, adjust=False).mean()
df['EMA50'] = df['MidClose'].ewm(span=50, adjust=False).mean()

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [14]:
high = df['MidHigh']
low = df['MidLow']
close = df['MidClose']

tr1 = high - low
tr2 = (high - close.shift()).abs()
tr3 = (low - close.shift()).abs()

tr = pd.concat([tr1, tr2, tr3], axis=1).max(axis=1)

df['ATR14'] = tr.rolling(14).mean()
df['ATR50'] = tr.rolling(50).mean()

df['vol_ratio'] = df['ATR14'] / df['ATR50']

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [15]:
df['dist_ema20'] = (df['MidClose'] - df['EMA20']) / df['ATR14']
df['dist_ema50'] = (df['MidClose'] - df['EMA50']) / df['ATR14']

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [16]:
df['std_10'] = df['r_1'].rolling(10).std()
df['std_20'] = df['r_1'].rolling(20).std()

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [17]:
df['range'] = df['MidHigh'] - df['MidLow']
df['range_norm'] = df['range'] / df['ATR14']

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [18]:
spread_mean = df['Spread'].rolling(50).mean()
df['spread_spike'] = (df['Spread'] > spread_mean * 1.5).astype(int)

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [19]:
df['hour'] = df['datetime'].dt.hour
df['weekday'] = df['datetime'].dt.weekday

df['hour_sin'] = np.sin(2 * np.pi * df['hour'] / 24)
df['hour_cos'] = np.cos(2 * np.pi * df['hour'] / 24)

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [20]:
df = df.dropna().reset_index(drop=True)

In [21]:
high = df['MidHigh']
low = df['MidLow']

In [22]:
df['fractal_high_raw'] = (
    (high >= high.shift(1)) &
    (high >= high.shift(2)) &
    (high > high.shift(-1)) &
    (high > high.shift(-2))
)

df['fractal_low_raw'] = (
    (low <= low.shift(1)) &
    (low <= low.shift(2)) &
    (low <= low.shift(-1)) &
    (low < low.shift(-2))
)

df['fractal_high'] = df['fractal_high_raw'].shift(2, fill_value=False).astype(int)
df['fractal_low'] = df['fractal_low_raw'].shift(2, fill_value=False).astype(int)

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [23]:
df['last_fractal_high'] = np.where(df['fractal_high']==1, df['MidHigh'], np.nan)
df['last_fractal_low']  = np.where(df['fractal_low']==1, df['MidLow'], np.nan)

df['last_fractal_high'] = df['last_fractal_high'].ffill()
df['last_fractal_low']  = df['last_fractal_low'].ffill()

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [24]:
df['dist_last_high'] = (df['MidClose'] - df['last_fractal_high']) / df['ATR14']
df['dist_last_low'] = (df['MidClose'] - df['last_fractal_low']) / df['ATR14']

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [25]:
df['bos_up'] = (
    (df['MidHigh'] > df['last_fractal_high']) &
    df['last_fractal_high'].notna()
).astype(int)

df['bos_down'] = (
    (df['MidLow'] < df['last_fractal_low']) &
    df['last_fractal_low'].notna()
).astype(int)

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [26]:
df['sweep_high'] = (
    (df['MidHigh'] > df['last_fractal_high']) &
    (df['MidClose'] < df['last_fractal_high'])
).astype(int)

df['sweep_low'] = (
    (df['MidLow'] < df['last_fractal_low']) &
    (df['MidClose'] > df['last_fractal_low'])
).astype(int)

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [27]:
df['hh_count_20'] = df['bos_up'].rolling(20).sum()
df['ll_count_20'] = df['bos_down'].rolling(20).sum()

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [ ]:
df

,Date,Time,BO,BH,BL,BC,BCh,AO,AH,AL,...,last_fractal_high,last_fractal_low,dist_last_high,dist_last_low,bos_up,bos_down,sweep_high,sweep_low,hh_count_20,ll_count_20
0,2005-05-04,01:00,1.28863,1.29623,1.28853,1.29623,0.00760,1.28878,1.29638,1.28868,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN
1,2005-05-04,02:00,1.29633,1.29633,1.29433,1.29613,-0.00020,1.29648,1.29648,1.29448,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN
2,2005-05-04,03:00,1.29603,1.29613,1.29513,1.29573,-0.00030,1.29618,1.29628,1.29528,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN
3,2005-05-04,04:00,1.29573,1.29733,1.29563,1.29613,0.00040,1.29588,1.29748,1.29578,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN
4,2005-05-04,05:00,1.29633,1.29663,1.29543,1.29563,-0.00070,1.29648,1.29678,1.29558,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93030,2020-04-29,18:00,1.08620,1.08851,1.08611,1.08713,0.00093,1.08660,1.08865,1.08640,...,1.085815,1.084285,0.844221,1.780205,1,0,0,0,12.0,5.0
93031,2020-04-29,19:00,1.08711,1.08823,1.08659,1.08748,0.00037,1.08725,1.08837,1.08675,...,1.085815,1.084285,1.020063,1.924815,1,0,0,0,13.0,5.0
93032,2020-04-29,20:00,1.08747,1.08788,1.08691,1.08708,-0.00039,1.08758,1.08810,1.08706,...,1.087990,1.084285,-0.249132,2.002170,0,0,0,0,12.0,5.0
93033,2020-04-29,21:00,1.08708,1.08740,1.08699,1.08714,0.00006,1.08808,1.08814,1.08763,...,1.087990,1.084285,-0.396448,2.093113,0,0,0,0,11.0,5.0
93034,2020-04-29,22:00,1.08728,1.08760,1.08727,1.08743,0.00015,1.08756,1.08779,1.08749,...,1.087990,1.084285,-0.332251,2.259306,0,0,0,0,10.0,5.0

In [28]:
df = df.drop(columns=['fractal_high_raw', 'fractal_low_raw'])

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [ ]:
df

,Date,Time,BO,BH,BL,BC,BCh,AO,AH,AL,...,last_fractal_high,last_fractal_low,dist_last_high,dist_last_low,bos_up,bos_down,sweep_high,sweep_low,hh_count_20,ll_count_20
0,2005-05-04,01:00,1.28863,1.29623,1.28853,1.29623,0.00760,1.28878,1.29638,1.28868,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN
1,2005-05-04,02:00,1.29633,1.29633,1.29433,1.29613,-0.00020,1.29648,1.29648,1.29448,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN
2,2005-05-04,03:00,1.29603,1.29613,1.29513,1.29573,-0.00030,1.29618,1.29628,1.29528,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN
3,2005-05-04,04:00,1.29573,1.29733,1.29563,1.29613,0.00040,1.29588,1.29748,1.29578,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN
4,2005-05-04,05:00,1.29633,1.29663,1.29543,1.29563,-0.00070,1.29648,1.29678,1.29558,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93030,2020-04-29,18:00,1.08620,1.08851,1.08611,1.08713,0.00093,1.08660,1.08865,1.08640,...,1.085815,1.084285,0.844221,1.780205,1,0,0,0,12.0,5.0
93031,2020-04-29,19:00,1.08711,1.08823,1.08659,1.08748,0.00037,1.08725,1.08837,1.08675,...,1.085815,1.084285,1.020063,1.924815,1,0,0,0,13.0,5.0
93032,2020-04-29,20:00,1.08747,1.08788,1.08691,1.08708,-0.00039,1.08758,1.08810,1.08706,...,1.087990,1.084285,-0.249132,2.002170,0,0,0,0,12.0,5.0
93033,2020-04-29,21:00,1.08708,1.08740,1.08699,1.08714,0.00006,1.08808,1.08814,1.08763,...,1.087990,1.084285,-0.396448,2.093113,0,0,0,0,11.0,5.0
93034,2020-04-29,22:00,1.08728,1.08760,1.08727,1.08743,0.00015,1.08756,1.08779,1.08749,...,1.087990,1.084285,-0.332251,2.259306,0,0,0,0,10.0,5.0

In [29]:
df = df.iloc[60:].reset_index(drop=True)

In [ ]:
df.columns

Index(['Date', 'Time', 'BO', 'BH', 'BL', 'BC', 'BCh', 'AO', 'AH', 'AL', 'AC',
       'ACh', 'datetime', 'MidOpen', 'MidHigh', 'MidLow', 'MidClose', 'Spread',
       'Spread_norm', 'r_1', 'r_3', 'r_6', 'r_12', 'mom_6', 'mom_12', 'EMA20',
       'EMA50', 'ATR14', 'ATR50', 'vol_ratio', 'dist_ema20', 'dist_ema50',
       'std_10', 'std_20', 'range', 'range_norm', 'spread_spike', 'hour',
       'weekday', 'hour_sin', 'hour_cos', 'fractal_high', 'fractal_low',
       'last_fractal_high', 'last_fractal_low', 'dist_last_high',
       'dist_last_low', 'bos_up', 'bos_down', 'sweep_high', 'sweep_low',
       'hh_count_20', 'll_count_20'],
      dtype='object')

In [30]:
df = df.drop(columns=[
    'Date','Time','datetime',
    'BO','BH','BL','BC','BCh',
    'AO','AH','AL','AC','ACh'
])

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [ ]:
H = 6

In [31]:
close = df['MidClose']
high = df['MidHigh']
low = df['MidLow']

In [32]:
df_model = df.copy()

In [ ]:
df.columns

Index(['MidOpen', 'MidHigh', 'MidLow', 'MidClose', 'Spread', 'Spread_norm',
       'r_1', 'r_3', 'r_6', 'r_12', 'mom_6', 'mom_12', 'EMA20', 'EMA50',
       'ATR14', 'ATR50', 'vol_ratio', 'dist_ema20', 'dist_ema50', 'std_10',
       'std_20', 'range', 'range_norm', 'spread_spike', 'hour', 'weekday',
       'hour_sin', 'hour_cos', 'fractal_high', 'fractal_low',
       'last_fractal_high', 'last_fractal_low', 'dist_last_high',
       'dist_last_low', 'bos_up', 'bos_down', 'sweep_high', 'sweep_low',
       'hh_count_20', 'll_count_20'],
      dtype='object')

In [33]:
feature_cols = [
    'MidOpen', 'MidHigh', 'MidLow', 'MidClose', 'Spread', 'Spread_norm',
    'r_1', 'r_3', 'r_6', 'r_12', 'mom_6', 'mom_12',
    'EMA20', 'EMA50', 'ATR14', 'ATR50', 'vol_ratio',
    'dist_ema20', 'dist_ema50', 'std_10', 'std_20',
    'range', 'range_norm', 'spread_spike',
    'hour_sin', 'hour_cos',
    'fractal_high', 'fractal_low',
    'last_fractal_high', 'last_fractal_low',
    'dist_last_high', 'dist_last_low',
    'bos_up', 'bos_down', 'sweep_high', 'sweep_low',
    'hh_count_20', 'll_count_20'
]

data = df_model[feature_cols].values
window_size = 24

train_ratio = 0.7
train_size = int(len(data) * train_ratio)
train_data = data[:train_size]
test_data = data[train_size:]

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [ ]:
import gymnasium as gym
from gymnasium import spaces

In [34]:
class TradingEnv(gym.Env):
    metadata = {'render_models': ['human'], 'render_fps': 1}

    def __init__(self, data, window_size, render_mode=None):
        super().__init__()
        self.data = data
        self.window_size = window_size
        self.current_step = window_size
        self.end_step = len(data) - 1

        self.action_space = spaces.Discrete(3)
        self.observation_space = spaces.Box(
            low=-np.inf,
            high=np.inf,
            shape=(window_size, data.shape[1]),
            dtype=np.float32,
        )


        self.position = 0
        self.entry_price = 0
        self.balance = 10000
        self.initial_balance = 10000
        self.render_mode = render_mode


    def reset(self, seed=None, options=None):
        super().reset(seed=seed)
        self.current_step = self.window_size
        self.position = 0
        self.entry_price = 0
        self.balance = self.initial_balance
        obs = self._get_observation()
        return obs, {}


    def _get_observation(self):
        return self.data[self.current_step - self.window_size : self.current_step]


    def step(self, action):
        reward = 0
        done = False
        price = self.data[self.current_step][3]


        if action == 1:
            if self.position == 0:
                self.position = 1
                self.entry_price = price
            elif self.position == -1:
                reward = self.entry_price - price
                self.balance += reward
                self.position = 1
                self.entry_price = price


        elif action == 2:
            if self.position == 0:
                self.position = -1
                self.entry_price = price
            elif self.position == 1:
                reward = price - self.entry_price
                self.balance += reward
                self.position = -1
                self.entry_price = price


        if action == 0 and self.position != 0:
            if self.position == 1:
                reward = price - self.entry_price
            else:
                reward = self.entry_price - price


        self.current_step += 1
        if self.current_step >= self.end_step:
            done = True

        obs = self._get_observation()
        info = {'balance': self.balance, 'position': self.position}

        return obs, reward, done, False, info


    def render(self):
        if self.render_mode == 'human':
            print(f'Step: {self.current_step}, Balance: {self.balance}, Position: {self.position}')

In [35]:
class CustomFeatureExtractor(BaseFeaturesExtractor):
    def __init__(self, observation_space: gym.spaces.Box, lstm_hidden=64, dense_hidden=64):
        super(CustomFeatureExtractor, self).__init__(observation_space, features_dim=lstm_hidden)

        self.window_size, self.num_features = observation_space.shape

        # LSTM слой
        self.lstm = nn.LSTM(input_size=self.num_features, hidden_size=lstm_hidden, batch_first=True)

        # Полносвязный слой после LSTM
        self.fc = nn.Sequential(
            nn.Linear(lstm_hidden, dense_hidden),
            nn.ReLU()
        )

    def forward(self, observations: torch.Tensor) -> torch.Tensor:
        # observations shape: (batch, window_size, num_features)
        lstm_out, (h_n, c_n) = self.lstm(observations)
        last_hidden = h_n[-1]  # последний скрытый слой
        return self.fc(last_hidden)

In [36]:
window_size = 24
env = DummyVecEnv([lambda: TradingEnv(train_data, window_size)])

In [37]:
policy_kwargs = dict(
    features_extractor_class=CustomFeatureExtractor,
    features_extractor_kwargs=dict(lstm_hidden=64, dense_hidden=64)
)

model = PPO(
    policy="MlpPolicy",
    env=env,
    verbose=1,
    learning_rate=3e-4,
    n_steps=2048,
    batch_size=64,
    n_epochs=10,
    gamma=0.99,
    policy_kwargs=policy_kwargs
)

Using cuda device

/usr/local/lib/python3.12/dist-packages/stable_baselines3/common/on_policy_algorithm.py:150: UserWarning: You are trying to run PPO on the GPU, but it is primarily intended to run on the CPU when not using a CNN policy (you are using ActorCriticPolicy which should be a MlpPolicy). See https://github.com/DLR-RM/stable-baselines3/issues/1245 for more info. You can pass `device='cpu'` or `export CUDA_VISIBLE_DEVICES=` to force using the CPU.Note: The model will train, but the GPU utilization will be poor and the training might take longer than on CPU.
  warnings.warn(
/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [38]:
model.learn(total_timesteps=20000)

-----------------------------
| time/              |      |
|    fps             | 472  |
|    iterations      | 1    |
|    time_elapsed    | 4    |
|    total_timesteps | 2048 |
-----------------------------
-----------------------------------------
| time/                   |             |
|    fps                  | 394         |
|    iterations           | 2           |
|    time_elapsed         | 10          |
|    total_timesteps      | 4096        |
| train/                  |             |
|    approx_kl            | 0.011856733 |
|    clip_fraction        | 0.0916      |
|    clip_range           | 0.2         |
|    entropy_loss         | -1.09       |
|    explained_variance   | -0.811      |
|    learning_rate        | 0.0003      |
|    loss                 | -0.0301     |
|    n_updates            | 10          |
|    policy_gradient_loss | -0.00518    |
|    value_loss           | 0.00973     |
-----------------------------------------
-----------------------------------------
| time/                   |             |
|    fps                  | 391         |
|    iterations           | 3           |
|    time_elapsed         | 15          |
|    total_timesteps      | 6144        |
| train/                  |             |
|    approx_kl            | 0.011806035 |
|    clip_fraction        | 0.0921      |
|    clip_range           | 0.2         |
|    entropy_loss         | -1.06       |
|    explained_variance   | -1.72       |
|    learning_rate        | 0.0003      |
|    loss                 | 0.00977     |
|    n_updates            | 20          |
|    policy_gradient_loss | -0.00688    |
|    value_loss           | 0.00179     |
-----------------------------------------
------------------------------------------
| time/                   |              |
|    fps                  | 389          |
|    iterations           | 4            |
|    time_elapsed         | 21           |
|    total_timesteps      | 8192         |
| train/                  |              |
|    approx_kl            | 0.0074750143 |
|    clip_fraction        | 0.0585       |
|    clip_range           | 0.2          |
|    entropy_loss         | -1.04        |
|    explained_variance   | -1.74        |
|    learning_rate        | 0.0003       |
|    loss                 | -0.0296      |
|    n_updates            | 30           |
|    policy_gradient_loss | -0.00936     |
|    value_loss           | 0.000841     |
------------------------------------------
-----------------------------------------
| time/                   |             |
|    fps                  | 388         |
|    iterations           | 5           |
|    time_elapsed         | 26          |
|    total_timesteps      | 10240       |
| train/                  |             |
|    approx_kl            | 0.011895975 |
|    clip_fraction        | 0.128       |
|    clip_range           | 0.2         |
|    entropy_loss         | -1.01       |
|    explained_variance   | -3.44       |
|    learning_rate        | 0.0003      |
|    loss                 | 0.000339    |
|    n_updates            | 40          |
|    policy_gradient_loss | -0.0154     |
|    value_loss           | 0.000793    |
-----------------------------------------
-----------------------------------------
| time/                   |             |
|    fps                  | 387         |
|    iterations           | 6           |
|    time_elapsed         | 31          |
|    total_timesteps      | 12288       |
| train/                  |             |
|    approx_kl            | 0.010483079 |
|    clip_fraction        | 0.118       |
|    clip_range           | 0.2         |
|    entropy_loss         | -0.991      |
|    explained_variance   | -5          |
|    learning_rate        | 0.0003      |
|    loss                 | -0.0353     |
|    n_updates            | 50          |
|    policy_gradient_loss | -0.014      |
|    value_loss           | 0.00083     |
-----------------------------------------
------------------------------------------
| time/                   |              |
|    fps                  | 386          |
|    iterations           | 7            |
|    time_elapsed         | 37           |
|    total_timesteps      | 14336        |
| train/                  |              |
|    approx_kl            | 0.0093227085 |
|    clip_fraction        | 0.11         |
|    clip_range           | 0.2          |
|    entropy_loss         | -0.963       |
|    explained_variance   | -5.02        |
|    learning_rate        | 0.0003       |
|    loss                 | -0.00393     |
|    n_updates            | 60           |
|    policy_gradient_loss | -0.0151      |
|    value_loss           | 0.000657     |
------------------------------------------
-----------------------------------------
| time/                   |             |
|    fps                  | 385         |
|    iterations           | 8           |
|    time_elapsed         | 42          |
|    total_timesteps      | 16384       |
| train/                  |             |
|    approx_kl            | 0.009990842 |
|    clip_fraction        | 0.0998      |
|    clip_range           | 0.2         |
|    entropy_loss         | -0.939      |
|    explained_variance   | -5.23       |
|    learning_rate        | 0.0003      |
|    loss                 | -0.0412     |
|    n_updates            | 70          |
|    policy_gradient_loss | -0.0166     |
|    value_loss           | 0.0006      |
-----------------------------------------
---------------------------------------
| time/                   |           |
|    fps                  | 385       |
|    iterations           | 9         |
|    time_elapsed         | 47        |
|    total_timesteps      | 18432     |
| train/                  |           |
|    approx_kl            | 0.0130613 |
|    clip_fraction        | 0.159     |
|    clip_range           | 0.2       |
|    entropy_loss         | -0.926    |
|    explained_variance   | -4.13     |
|    learning_rate        | 0.0003    |
|    loss                 | -0.0393   |
|    n_updates            | 80        |
|    policy_gradient_loss | -0.0203   |
|    value_loss           | 0.000633  |
---------------------------------------
-----------------------------------------
| time/                   |             |
|    fps                  | 384         |
|    iterations           | 10          |
|    time_elapsed         | 53          |
|    total_timesteps      | 20480       |
| train/                  |             |
|    approx_kl            | 0.014061292 |
|    clip_fraction        | 0.154       |
|    clip_range           | 0.2         |
|    entropy_loss         | -0.929      |
|    explained_variance   | -2.55       |
|    learning_rate        | 0.0003      |
|    loss                 | -0.048      |
|    n_updates            | 90          |
|    policy_gradient_loss | -0.0203     |
|    value_loss           | 0.000787    |
-----------------------------------------

In [40]:
test_env = DummyVecEnv([lambda: TradingEnv(test_data, window_size, render_mode="human")])

obs = test_env.reset()
done = False
while not done:
    action, _states = model.predict(obs, deterministic=True)
    obs, reward, done, info = test_env.step(action)

In [41]:
import matplotlib.pyplot as plt

test_env = DummyVecEnv([lambda: TradingEnv(test_data, window_size, render_mode=None)])

obs = test_env.reset()
done = False

balances = []
positions = []
actions_history = []
step_numbers = []

step = 0

In [42]:
while not done:
    action, _states = model.predict(obs, deterministic=True)

    obs, reward, done, info = test_env.step(action)

    balances.append(info[0]["balance"])
    positions.append(info[0]["position"])
    actions_history.append(action[0])
    step_numbers.append(step)

    step += 1

In [44]:
import matplotlib
matplotlib.use("Agg")
import matplotlib.pyplot as plt

In [47]:

device = model.policy.device

obs_tensor = torch.tensor(obs, dtype=torch.float32).unsqueeze(0).to(device)

In [59]:
import pandas as pd


test_env = TradingEnv(test_data, window_size, render_mode=None)
obs, _ = test_env.reset()
done = False

balances = []
positions = []
actions_history = []

step = 0


while not done:
    action, _states = model.predict(obs, deterministic=True)
    action = int(action)

    obs, reward, done, _, info = test_env.step(action)

    balances.append(info["balance"])
    positions.append(info["position"])
    actions_history.append(action)
    step += 1

df_backtest = pd.DataFrame({
    "step": list(range(step)),
    "balance": balances,
    "position": positions,
    "action": actions_history
})
df_backtest.to_csv("backtest_results.csv", index=False)
print("CSV сохранён")

CSV сохранён

In [51]:
df = pd.read_csv("backtest_results.csv")

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [52]:
df.head()

   step  balance  position  action
0     0  10000.0         1       1
1     1  10000.0         1       1
2     2  10000.0         1       1
3     3  10000.0         1       1
4     4  10000.0         1       1

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [58]:
import matplotlib
matplotlib.use("Agg")
import matplotlib.pyplot as plt
import pandas as pd

df = pd.read_csv("backtest_results.csv")


step = df["step"][::10].values
balance = df["balance"][::10].values
actions = df["action"][::10].values

plt.figure(figsize=(15,6))
plt.plot(step, balance, label="Balance", color="blue")


for i, act in enumerate(actions):
    if act == 1:
        plt.scatter(step[i], balance[i], color="green", marker="^", label="Buy" if i==0 else "")
    elif act == 2:
        plt.scatter(step[i], balance[i], color="red", marker="v", label="Sell" if i==0 else "")

plt.title("Trading Agent Backtest")
plt.xlabel("Step")
plt.ylabel("Balance")
plt.legend()
plt.grid(True)

plt.savefig("backtest_balance.png", dpi=150)
plt.close()
print("График сохранён в backtest_balance.png")

График сохранён в backtest_balance.png

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)

In [57]:
import pandas as pd
import matplotlib
matplotlib.use("Agg")
import matplotlib.pyplot as plt
import numpy as np


df = pd.read_csv("backtest_results.csv")


df["max_balance"] = df["balance"].cummax()
df["drawdown"] = df["max_balance"] - df["balance"]

df["position_change"] = df["position"].diff().fillna(0)

step = df["step"][::10].values
balance = df["balance"][::10].values
drawdown = df["drawdown"][::10].values
position_change = df["position_change"][::10].values
positions = df["position"][::10].values

plt.figure(figsize=(15,6))
plt.plot(step, balance, label="Balance", color="blue")

for i, change in enumerate(position_change):
    if change > 0:
        plt.scatter(step[i], balance[i], color="green", marker="^", label="Buy" if i==0 else "")
    elif change < 0:
        plt.scatter(step[i], balance[i], color="red", marker="v", label="Sell" if i==0 else "")

plt.title("Trading Agent Backtest: Balance + Trades")
plt.xlabel("Step")
plt.ylabel("Balance")
plt.legend()
plt.grid(True)
plt.savefig("backtest_balance_trades.png", dpi=150)
plt.close()
print("График Balance + Trades сохранён в backtest_balance_trades.png")


plt.figure(figsize=(15,6))
plt.plot(step, drawdown, color="red")
plt.title("Drawdown")
plt.xlabel("Step")
plt.ylabel("Drawdown")
plt.grid(True)
plt.savefig("backtest_drawdown.png", dpi=150)
plt.close()
print("График Drawdown сохранён в backtest_drawdown.png")

График Balance + Trades сохранён в backtest_balance_trades.png
График Drawdown сохранён в backtest_drawdown.png

/usr/local/lib/python3.12/dist-packages/jupyter_client/session.py:203: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  return datetime.utcnow().replace(tzinfo=utc)